<!DOCTYPE html>
<html>
<head>
  <title>Cor</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <script src="http://code.highcharts.com/highcharts.js"></script>
    <script src="http://code.highcharts.com/highcharts-more.js"></script>
	<script src="http://code.highcharts.com/modules/exporting.js"></script>
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top" role="navigation">
	<div class="container-fluid">
		<div class="row">
			<ul class="nav">			
			<li class="col-sm-2 col-sm-offset-1 text-center"><br/><h1>Hello, <%= @patient.name %>!</h1></li>
			<li id="myalerts" class="col-sm-2  text-center"><%= link_to "My Alerts", patient_alerts_path %></li>
			<li id="mymetrics" class="col-sm-2 text-center"><%= link_to "My Metrics", patient_metrics_path, class: "active" %></li>		
			<li id="myactivitylog" class="col-sm-2 text-center"><%= link_to "My Activity Log", patient_activity_log_path %></li>
			<li id="mysettings" class="col-sm-2 text-center"><%= link_to "My Settings", patient_settings_path %></li>

			</ul>
		</div>
		<div class="row bar">
		</div>
	</div>
</div>
<%= yield %>
</body>
</html>