<%= javascript_tag do %>
    var systolicHigh = <%= threshold[:systolic][:high] %>;
    var systolicLow = <%= threshold[:systolic][:low] %>;
    var diastolicHigh = <%= threshold[:diastolic][:high] %>;
    var diastolicLow = <%= threshold[:diastolic][:low] %>;

    var systolicReading = <%= values[:systolic] %>;
    var diastolicReading = <%= values[:diastolic] %>;
    systolicReading.sort();
    diastolicReading.sort();
<% end %>

<div id="blood_pressure_trend_container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<script>
    $(populate_blood_pressure_trend_container());
</script>
<% javascript_include_tag "blood_pressure_trend"%>